body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    color: #F9FAF8;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 100px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.hero-content {
    max-width: 400px;
}

.hero-image {
    width: 400px;
    height: 250px;
    background-color: #4B5563;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.information {
    text-align: center;
    padding: 50px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.info-box {
    width: 120px;
    height: 120px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.info-text {
    margin-top: 10px;
    text-align: center;
}