body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #F9FAF8;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.hero-image {
    width: 400px;
    height: 200px;
    background-color: #4B5563;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #E5E7EB;
}

.information {
    text-align: center;
    padding: 50px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-box {
    width: 120px;
    height: 120px;
    border: 2px solid #3882F6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px;
    font-style: italic;
    text-align: center;
}

.cta {
    background-color: #3882F6;
    color: white;
    text-align: center;
    padding: 50px;
}

.cta button {
    background-color: white;
    color: #3882F6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}
